.App {
  text-align: center;
  /* background-image: url("/src/img/7z2bzl.gif");
  background-repeat: no-repeat;
  background-size: cover; */

  background-color:black;
  max-width: 100%;
  overflow-x: hidden;
}


#topRow {
  height: 60vh;
}


#myLogo {
  height: 80vh;
  width: 80vw;
  object-fit:cover;
}

.nameContainer {
  display: flex;
  justify-content:center;
  
}

/* @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,300&display=swap'); */

@font-face {
  font-family: Prompt300;
  src: url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,300&display=swap');
}

.firstAndLastName {
  font-family: Prompt300;
  font-size: 60px;
  color: whitesmoke;
}



@font-face {
  font-family: audrey;
  src: url("./Audrey/Audrey-Normal.otf") format("opentype");
}


#wallpaper {
  background-color: antiquewhite;
  height: 100vh;
}


.hadith {
  font-family: myFirstFont;
  color:aliceblue; 
  padding-top: 50vh;
  padding-left: 40vw;
  font-size:30px;
  text-align: left;

}


@font-face {
  font-family: myFirstFont;
  src: url("./alfont_com_AlFont_com_04.ttf");

}



.wallpaperRow {
  background-image: url('./masjidDS.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

h1, p{
  color: whitesmoke !important;
}


.box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: blue;
}

@media screen and (max-width: 576px) {
  .firstAndLastName {
    font-size: 35px !important;
  }

  .middleName {
    font-size: 40px !important;
  }

  #topRow {
    height: 55vh;
  }
  
}

#watchOS {
  background-image: url(./img/chiraq.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  width: 56.5vw;
  margin-left: 0.6rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

@media (max-width: 560px) {
  #watchOS {
    height: 50vh;
    width: 95vw;
  }
}

